html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e293b;
}

input {
  color: #475569
}

.input-label {
  block;
  text-white-700;
  text-sm; 
  font-bold mb-2;
}

.clickable {
  cursor: pointer;
}
